div {
  padding: 20px;
  width: 100%;
}

mat-card {
  background-color: #f8f8ff;
  width: 100%;
}

mat-card-title {
  font-size: 2em;
}
mat-grid-tile {
  padding: 10px;
}
@media (max-width: 991px) {
  app-futer {
    visibility: hidden;
  }
}
