<mat-grid-list
  style="margin-top: 30px; margin-right: 30px"
  cols="12"
  rowHeight="10vh"
>
  <mat-grid-tile [colspan]="6" [rowspan]="2">
    <div>
      <mat-card>
        <mat-card-title>Bio:</mat-card-title>
        <mat-card-content>
          I'm a young retard from serbia i wonna be a producer bklabkabkalbal. I
          am full of pession and my pipi gets big when i see playboi carti or
          lil peep.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="5">
    <div>
      <img src="../../assets/ksna.jpg" style="width: 100%" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="5">
    <div><img src="../../assets/RomicBulji.jpg" style="width: 100%" /></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="2">
    <div>
      <mat-card>
        <mat-card-title>Bio:</mat-card-title>
        <mat-card-content>
          I'm a young retard from serbia i wonna be a producer bklabkabkalbal. I
          am full of pession and my pipi gets big when i see playboi carti or
          lil peep.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2">
    <app-futer></app-futer>
  </mat-grid-tile>
</mat-grid-list>
