<mat-grid-list
  style="margin-top: 30px; margin-right: 30px"
  cols="12"
  rowHeight="10vh"
  class="veliko"
>
  <mat-grid-tile [colspan]="6" [rowspan]="3.5">
    <div>
      <mat-card>
        <mat-card-title>About me:</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          feugiat a leo id ullamcorper. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Praesent feugiat a leo id ullamcorper. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Praesent feugiat a leo id
          ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent feugiat a leo id ullamcorper.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="5">
    <div>
      <img src="../../assets/ksna.jpg" style="width: 100%" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="5">
    <div><img src="../../assets/RomicBulji.jpg" style="width: 100%" /></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="3.5">
    <div>
      <mat-card>
        <mat-card-title>What i do:</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          feugiat a leo id ullamcorper.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="2" class="futer">
    <app-futer style="width: 100%"></app-futer>
  </mat-grid-tile>
</mat-grid-list>
<!--Mala velicina-->
<mat-grid-list
  style="margin-top: 30px; margin-right: 30px"
  cols="12"
  rowHeight="10vh"
  class="malo"
>
  <mat-grid-tile [colspan]="6" [rowspan]="4">
    <div>
      <mat-card>
        <mat-card-title>About me:</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          feugiat a leo id ullamcorper.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="4">
    <div>
      <img src="../../assets/ksna.jpg" style="width: 100%" />
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="4">
    <div><img src="../../assets/RomicBulji.jpg" style="width: 100%" /></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="4">
    <div>
      <mat-card>
        <mat-card-title>What i do:</mat-card-title>
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          feugiat a leo id ullamcorper.
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
