.boja {
  background-color: rgb(26, 3, 26);
  padding-right: 0;
}

.glavno {
  width: 60%;
  height: 60%;
  margin: auto;
  margin-top: 5%;
}
.flxp {
  display: inline-block;
  font: 10em "Oleo Script", Helvetica, sans-serif;
  color: rgb(241, 229, 229);
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.mywork {
  background-color: black;
  margin-top: 5%;
  width: 100%;
  height: 30%;
  border: 0;

  font-size: 100px;
  color: white;
}
@media (max-width: 420px) {
  .glavno {
    margin-top: 0%;
    padding-top: 100px;
  }
  .telefon {
    display: block;
    width: 100%;
  }
  .mywork {
    visibility: hidden;
  }
}
/* extra Extra Small devices (landscape phones, 576px and up)*/
@media (min-width: 421px) and (max-width: 576px) {
  .telefon {
    display: block;
    width: 100%;
  }
  .mywork {
    visibility: hidden;
  }
  .glavno {
    margin-top: 0%;
    padding-top: 80px;
  }
}
/* Extra Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .mywork {
    visibility: hidden;
  }
  .glavno {
    margin-top: 10%;
  }
  .telefon {
    display: block;
    width: 100%;
  }
}

/* Small devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .mywork {
    visibility: hidden;
  }
  .glavno {
    margin-top: 15%;
  }
  .telefon {
    visibility: visible;
    width: 100%;
  }
}

/* Medium devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .row {
    height: 100%;
    overflow-y: hidden;
  }
  .telefon {
    display: none;
    height: 0px;
  }
}

/* large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .row {
    height: 100%;
    overflow-y: hidden;
  }
  .telefon {
    display: none;
    height: 0px;
  }
}
