.boja {
  background-color: rgb(26, 3, 26);
  padding-right: 0;
}

.glavno {
  width: 60%;
  height: 60%;
  margin: auto;
  margin-top: 5%;
}

.mywork {
  background-color: black;
  margin-top: 5%;
  width: 100%;
  height: 30%;
  border: 0;

  font-size: 80px;
  color: white;
}
@media (max-width: 420px) {
  .glavno {
    margin-top: 0%;
    padding-top: 100px;
  }
  .telefon {
    display: block;
    width: 100%;
  }
  .mywork {
    visibility: hidden;
  }
  h1 {
    font: 100px Arial, sans-serif;
  }
  span {
    font-size: 100px;
  }
}
/* extra Extra Small devices (landscape phones, 576px and up)*/
@media (min-width: 421px) and (max-width: 576px) {
  .telefon {
    display: block;
    width: 100%;
  }
  .mywork {
    visibility: hidden;
  }
  .glavno {
    margin-top: 0%;
    padding-top: 80px;
  }
}
/* Extra Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .mywork {
    visibility: hidden;
  }
  .glavno {
    margin-top: 10%;
  }
  .telefon {
    display: block;
    width: 100%;
  }
}

/* Small devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .mywork {
    visibility: hidden;
  }
  .glavno {
    margin-top: 15%;
  }
  .telefon {
    visibility: visible;
    width: 100%;
  }
}

/* Medium devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .row {
    height: 100%;
    overflow-y: hidden;
  }
  .telefon {
    display: none;
    height: 0px;
  }
}

/* large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .row {
    height: 100%;
    overflow-y: hidden;
  }
  .telefon {
    display: none;
    height: 0px;
  }
}

.intro {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  font-family: "Lobster", cursive;
  animation-name: romicslajd;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.slider {
  background-color: rgb(238, 229, 229);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: romicslajd;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2.1s;
}
@keyframes romicslajd {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@keyframes romictekst {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.blok {
  background-color: black;
}
h1 {
  font: 150px Arial, sans-serif;
  height: fit-content;
  margin-bottom: 0%;

  overflow: hidden;
}
span {
  display: inline-block;
  transform: translateY(100%);

  animation-name: romictekst;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
