<div class="row">
  <div class="col-lg-6" style="height: 100vh">
    <div class="glavno">
      <div class="flxp">FLXP</div>
    </div>
    <button class="mywork" mat-raised-button color="warn" routerLink="mywork">
      MyWork
    </button>
    <button
      class="mywork"
      mat-raised-button
      color="warn"
      routerLink="mywork"
      style="visibility: hidden"
    >
      <i class="fa fa-long-arrow-left"></i>
    </button>
  </div>
  <div class="col-lg-6" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
