footer{
  margin-top: 100px;
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.705);
}
.spacer{
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}
section{
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.815);
  }

  .futeri{
    color: white;
    text-align: center;
    position: relative;
    top: 70px;
    font-family: 'Lobster', cursive;
    font-size: 150%;
  }
  a{
    text-decoration: none;
    color: white;
    font-family: 'Lobster', cursive;

  }
  a:hover {
    color: rgba(255, 255, 255, 0.801);
  }

  a:active {
    color: rgba(255, 255, 255, 0.801);
    font-size: 95%;
  }



  section{
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 90%;
  }
