p {
  text-align: center;
}
@media (max-width: 991px) {
  .row {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media (max-width: 557px) {
    svg {
      height: 60px;
      width: 60px;
    }
  }
}
