<footer>
  <div class="spacer">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 futeri">
          <span>Instagram:romicDredovi</span>
        </div>

        <div class="col-lg-4 futeri">
          <span>SoundCloud:lean</span>
        </div>

        <div class="col-lg-4 futeri"><a href="tel:+381-06-1540332">
          <span>Telephone:+381-06-1540332</span>
        </a></div>

      </div>
    </div>
  </div>
  <section>
    @copyright blabla
  </section>
</footer>

