.zanr {
  height: 33.3333%;
}

.lista {
  height: 100vh;
  overflow: auto;
  margin-right: 15%;
  margin-left: 15%;
  padding-bottom: 10%;
}
span {
  display: inline-block;
  text-align: center;
  position: absolute;
  color: white;
  font: 240px "Oleo Script", Helvetica, sans-serif;
  font-size: 2.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pano {
  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.9, 0.9);
  border-radius: 20px;

  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
}
.pano:hover {
  transform: translate3d(0px, 0px, -250px);
}
.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel:not(:last-child) {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
