
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/ksna.jpg" alt="sadasds" width="100%" height="600px">
    </div>
    <div class="col-lg-6">
     <div><img src="assets/RomicSedi.jpg" alt="sadasds"  width="100%"> </div>
      <mat-card>One advanced diverted domestic sex repeated bringing you old. Possible procured her trifling
         laughter thoughts property she met way. Companions shy had solicitude favourable own. Which
         could saw guest man now heard but. Lasted my coming uneasy marked so should. Gravity letters it
         amongst herself dearest an windows by. Wooded ladies she basket season age her uneasy saw. Discourse
         unwilling am no described dejection incommode no listening of. Before nature his parish boy.
      </mat-card>
    </div>
  </div>
</div>


