html {
  box-sizing: border-box;
  margin: 0px;
}
body {
  box-sizing: border-box;
  margin: 0px;
  background-color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
